.block-wrapper {
  border: 1px solid silver;
  margin-bottom: 5px;
  .header {
    background-color: paleturquoise;
    &.focused {
      background-color: palegreen;
    }
    &.selected {
      background-color: firebrick;
    }
  }
}
